.App {
  text-align: center;
}

.App1 {
  text-align: right;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  font-family: squreR
}
.App2{
  text-align: left;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: "squreR";
  src: url("./fonts/NanumSquareR.ttf");
}
@font-face {
  font-family: "squreB";
  src: url("./fonts/NanumSquareB.ttf");
}
@font-face {
  font-family: "squreL";
  src: url("./fonts/NanumSquareL.ttf");
}
@font-face {
  font-family: "squreEB";
  src: url("./fonts/NanumSquareEB.ttf");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text-center {
  font-family: squreB;
}

.movie-container {
  margin: 0 auto;
  width: 80%;
  border: 1px solid #333;
  padding: 10px 0 30px 0;
  border-radius: 5px;
  margin-bottom: 50px;
}
.form-wrapper {
  width: 80%;
  margin: 0 auto;
}
.memberNo-input {
  border: 1px solid darkgray;
  border-radius: 5px;
  width: 1013px;
  height: 40px;
  margin-bottom: 15px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.memberRev-input {
  border: 1px solid darkgray;
  border-radius: 5px;
  width: 845px;
  height: 40px;
  margin-bottom: 15px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.title-input {
  border: 1px solid darkgray;
  border-radius: 5px;
  width: 1013px;
  height: 40px;
  margin-bottom: 15px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.sub-input {
  border: 1px solid darkgray;
  border-radius: 3px;
  width: 250px;
  height: 30px;
  padding-left: 4px;
  margin-bottom: 20px;
  margin-top: 12px;
  margin-left: 5px;
  margin-right: 23px;
}

.select {
  width: 230px;
  height: 30px;
  padding-left: 4px;
  border: 1px solid darkgray;
  font-size: 14px;
  border-radius: 3px;
  -webkit-appearance:none;
  appearance:none;
  background:url('\image/arr.png') no-repeat 97% 50%/15px auto;
  background-color: white;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 25px;
}

select::-ms-expand {
  display: none;
}

.text-area {
  width: 80%;
  min-height: 500px;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 500px;
}

.container {
  width: 1300px;
  min-height: 600px;
  text-align: left;
}

.bg1 {
  background-color: #E0F2F7;
}

.a {
  color: #61dafb;
  font-family: squreR;
}

.container1 {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left : auto;
  min-height: 800px;
  width : 1300px;
    text-align: left;
  font-family: squreR;
}

.container2{
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  font-family: squreB;
}

.container3{
  margin-left: 5px;
  font-family: squreB;
}

.container4{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left : auto;
  min-height: 800px;
  width : 1300px;
  text-align: left;
  font-family: squreB;
}

.container5 {
background-color: #FDFDF8;
  width: 100%;
  min-height: 915px;
  font-family: squreB;
}

.p1{
  margin-top:20px;
  margin-bottom:15px;
  font-size: 30px;
  text-align: center;
  font-family: squreEB;
}

.p2{
  margin-bottom: 0px;
  margin-left: 2px;
  font-size: 21px;
  text-align: left;
    font-family: squreB;
}

.p3{
  margin-bottom: 0px;
  margin-left: 2px;
  font-size: 18px;
  text-align: left;
    font-family: squreB;
}

.p4{
  margin-top: 5px;
  margin-left: 2px;
  margin-bottom:15px;
  font-size: 15px;
    font-family: squreB;
}

.p5{
  margin-top:5px;
  margin-bottom:5px;
    font-family: squreB;
}

.btn1{
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  user-select: none;
  color:white;
  background-color: #0080FF;
  font-family: squreB;
}

.btn2{
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  user-select: none;
  color:white;
  background-color: #FFBF00;
  font-family: squreB;
}

.btn3{
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 0.5px solid transparent;
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  user-select: none;
  border-color: #848484;
  background-color: #E2E1E1;
  font-family: squreB;
}

.btn4{
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 4px 15px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  user-select: none;
  color:white;
  background-color: #0080FF;
}

.ladda-button.btn1{
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  user-select: none;
  color:white;
  background-color: #0080FF;
  font-family: squreB;
}

.row1{
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
}

.navbar1{
    position:relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;

}

.dropdown-button {
  padding: 8px;
  font-size: 15px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6f71fb;
  min-width: 75px;
  padding: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
  width: 505px;
  word-break: break-all;
  height: auto;
  border: 1px solid #6466f6;
  border-radius: 5px;
  color: #ffffff;
}
.dropdown-content a {
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover { background-color: white;} /*#CD853F*/
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropdown-button {background-color: #ffffff;}

.tab1 {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
}

.tablist1 {
  border-bottom: 1px solid #aaa;
  margin: 0px 127px;
  padding: 0;
  width: 80%;
}

.excelfilebox {
  border: 1px solid darkgray;
  border-radius: 3px;
  width: 180px;
  height: 30px;
  padding-left: 4px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 3px;
}

.icon{
  width: 18px;
  height: 18px;
  margin-right: 3px;
  margin-bottom: 1px;
}